{% extends "base_generic.html" %}

{% block content %}
        
<style>
  p{
      font-size:18px;
  }
</style>

<div class=down>
  <div class="container-fluid">
    <div class="row">
        <div class="col-sm-3"></div>
        <div id ="rcorners" class="col-sm-6">
            <div class="container-fluid " >
                <div class="row">
                    <div class="col-sm-7" class="font">
                        <form method="POST">
                            <br>
                            <div>
                                <h5>Username</h5><p class="p_info_text">{{ profile.get_username }}</p>
                            </div>
                            <br>
                            <div>
                                <h5>Email</h5><p class="p_info_text">{{ profile.email }}</p>
                            </div>
                            <br>
                            <div>
                                <h5>Cellphone</h5><p class="p_info_text">{{ profile.userprofile.cel }}</p>
                            </div>
                            <br>
                            <div>
                                <h5>Telephone</h5><p class="p_info_text">{{ profile.userprofile.tel }}</p>
                            </div>
                            
                            <br>
                            <div>
                                <h5>Skill</h5><p class="p_frame p_info_text">{{ profile.userprofile.skill }}</p>
                            </div>
                            <br>
                            <div>
                                <h5>Experence</h5><p class="p_frame p_info_text">{{ profile.userprofile.experience }}</p>
                            </div>
                            <br>
                            <div>
                                <h5>Job</h5><p class="p_frame p_info_text">{{ profile.userprofile.job }}</p>
                            </div>
                            <br>
                        </form>
                    </div>
                    <div class="col-sm-5">
                        <form method="POST">
                            
                            <br>
                            <br>
                            <div>
                                <center>
                                {% if profile.userprofile.profile_photo %}
                                    <img class="head-shot" src = "/media/{{ profile.userprofile.profile_photo }}" width=180>    
                                {% else %}
                                    {% load static %}
                                    {% with 'head_shot/'|add:profile.userprofile.head_shot as head_shot %}
                                        <img class="head-shot" src="{% static head_shot %}" width=180>
                                    {% endwith %}
                                {% endif %}
                                
                                <div>
                                    <br>
                                    ID:{{profile.id}}
                                    <br>
                                    Level:{{ profile.userprofile.member_level}}
                                    <br>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Exp:{{ profile.userprofile.member_exp}}/100</div>
                                    </div>
                                    
                                    <br>
                                    
                                    <a href="{% url 'profile-update' %}?next={% url 'profile' %}">Edit Profile</a>
                                    <br>
                                    <a href="{% url 'profile-photo-update' %}?next={% url 'profile' %}">Update Profile Photo</a>
                                    <br>
                                    <a href="{% url 'password-change' %}?next={% url 'profile' %}">Password Change</a>
                                    
                                    <br>
                                </div>
                                </center>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
  </div>
</div>


{% endblock %}