{% extends "base_generic.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/update' %}.css">
<div class="down">
<div class="container-fluid">
    <div class="row">
    <div class="col-sm-3"></div>
        <div id ="rcorners" class="col-sm-6">
            <div class="center">
                <h1>Edit Profile</h1>
            </div>      
            <form method="post">
                {% csrf_token %}
                <div class="form-data">
                    <div class="form-label-group">
                        <div class="title">Cellphone</div>
                        <textarea rows="1" cols="10" name="cel" class="form-control" required>{{form.cel.value}}</textarea>
                    </div>
                    <div class="form-label-group">
                        <div class="title">Telephone</div>
                        <textarea rows="1" cols="10" name="tel" class="form-control" required>{{form.tel.value}}</textarea>
                    </div>
                    <div class="form-label-group">
                        <div class="title">Skill</div>
                        <textarea rows="4" cols="20" name="skill" class="form-control" required>{{form.skill.value}}</textarea>
                    </div>
                    <div class="form-label-group">
                        <div class="title">Experence</div>
                        <textarea rows="4" cols="10" name="experience" class="form-control" required>{{form.experience.value}}</textarea>
                    </div>
                    <div class="form-label-group">
                        <div class="title">Job</div>
                        <textarea rows="4" cols="10" name="job" class="form-control" required>{{form.job.value}}</textarea>
                    </div>
                </div>
                <div class="center">
                    <button type="submit">儲 存</button>
                    <button type="button" onclick="goBackPage()">取 消</button>
                </div>
            </form>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
</div>


{% endblock %}