{% extends "base_generic.html" %}

{% block content %}

<div class="down">
  <div class="container-fluid " >
    <div class="row">
      <div class="col-sm-4"></div>
        <div id ="rcorners" class="col-sm-4">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <br>
                <center>
                <h2>Update Profile Photo</h2>
                <br>


                <table>
                    {{ form.as_table }}
                </table>
                
                <br>
                <button type="submit">儲 存</button>
                <button type="button" onclick="goBackPage()">取 消</button>

                </center>
                <br>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
  </div>
</div>


<!--
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Submit">
</form>
-->
{% endblock %}