{% extends "base_generic.html" %}

{% block content %}




<style>
  #rcorners {
    border-radius: 1em/1em;
  }

  .down {
    transform: translateY(50%);
  }
</style>

<div class="down">
  <div class="container-fluid " >
    <div class="row">
      <div class="col-sm-4"></div>
        <div id ="rcorners" class="col-sm-4" style="background-color:white"style="top:50">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <br>
                <center>
                <h2>Update Profile Photo</h2>
                <br>
                <table>
                    {{ form.as_table }}
                </table>
                <br>
                <input type="submit" value="Submit">
                </center>
                <br>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
  </div>
</div>


<!--
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Submit">
</form>
-->
{% endblock %}