{% extends "base_generic.html" %}

{% block content %}

<div class="down">
  <div class="container-fluid " >
    <div class="row">
      <div class="col-sm-4"></div>
        <div id ="rcorners" class="col-sm-4">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="center">
                  <h1>Update Profile Photo</h1>
                </div>
                <div class="center">
                  <div style="display: inline-block;">
                      <input type="file" name="profile_photo" accept="image/*" id="id_profile_photo" onchange="showFileName()" class="hidden">
                      <button type="button" id="file-selector" class="button" onclick="selectFile()">選擇檔案</button>
                      <br>
                      <p id="file-name"></p>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="profile_photo-clear" id="profile_photo-clear_id">
                        <label class="custom-control-label" for="profile_photo-clear_id">Clear Profile Photo</label>
                      </div>
                  </div>
                <div class="center">
                  <button type="submit" class="button">儲 存</button>
                  <button type="button" class="button" onclick="goBackPage()">取 消</button>
                </div>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
  </div>
</div>


{% endblock %}