{% extends "base_generic.html" %}

{% block content %}
        
<style>
  p{
      font-size:18px;
  }

</style>

<div class=down>
  <div class="container-fluid">
    <div class="row">
        <div class="col-sm-3"></div>
        <div id ="rcorners" class="col-sm-6">
            <div class="container-fluid " >
                <div class="row">
                    <div class="col-sm-7" class="font">
                        <form method="POST">
                            <br>
                            <div>
                                <h5>Username</h5><p>{{ profile.get_username }}</p>
                            </div>
                            <br>
                            <div>
                                <h5>Email</h5><p>{{ profile.email }}</p>
                            </div>
                            <br>
                            <div>
                                <h5>Cellphone</h5><p>{{ profile.userprofile.cel }}</p>
                            </div>
                            <br>
                            <div>
                                <h5>Telephone</h5><p>{{ profile.userprofile.tel }}</p>
                            </div>
                            
                            <br>
                            <div>
                                <h3>Skill</h3><p>{{ profile.userprofile.skill }}</p>
                            </div>
                            <br>
                            <div>
                                <h3>Experence</h3><p>{{ profile.userprofile.experience }}</p>
                            </div>
                            <br>
                            <div>
                                <h3>Job</h3><p>{{ profile.userprofile.job }}</p>
                            </div>
                            <br>
                        </form>
                    </div>
                    
                    <div class="col-sm-5">
                        <form method="POST">
                            <center>
                            <br>
                            <br>
                            <div>
                                {% if profile.userprofile.profile_photo %}
                                    <img class="head-shot" src = "/media/{{ profile.userprofile.profile_photo }}" width=180>    
                                {% else %}
                                    {% load static %}
                                    {% with 'head_shot/'|add:profile.userprofile.head_shot as head_shot %}
                                        <img class="head-shot" src="{% static head_shot %}" width=180>
                                    {% endwith %}
                                {% endif %}
                                <br>
                                ID:{{profile.id}}
                                <br>
                                Level:{{ profile.userprofile.member_level}}
                                <br>
                                Exp:{{ profile.userprofile.member_exp}}
                                <br>
                                <a href="{% url 'profile-update' %}?next={% url 'profile' %}">Edit Profile</a>
                                <br>
                                <a href="{% url 'profile-photo-update' %}?next={% url 'profile' %}">Update Profile Photo</a>
                                <br>
                                <a href="{% url 'password-change' %}?next={% url 'profile' %}">Password Change</a>
                                <br>
                            </div>
                            </center>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
  </div>
</div>


{% endblock %}