{% extends "base_generic.html" %}

{% block content %}

<div class="down">
  <div class="container-fluid " >
    <div class="row">
      <div class="col-sm-4"></div>
        <div id ="rcorners" class="col-sm-4">
            <form method="POST">
                {% csrf_token %}
                <div class="text-center mb-4">
                    <img src="/static/images/logo.png" alt="" width="auto" height="40">
                    <div class="topic">Register</div>
                </div>

                <div class="form-label-group">
                    <input type="text" name="username" class="form-control" placeholder="Username">
                    <label class="help" style="margin-left: 15px;">{{form.username.help_text}}</label>
                    <label class="error">{{form.username.errors}}</label>
                </div>
                <br>
                <div class="form-label-group">
                    {{form.email.help_text}}
                    <input type="email" name="email" class="form-control" placeholder="email">
                    <label class="error">{{form.email.errors}}</label>
                </div>
                <br>
                <div class="form-label-group">
                    <input type="password" name="password1" class="form-control" placeholder="Password" >
                    <label class="error">{{form.password1.errors}}</label>
                </div>
                <br>
                <div class="form-label-group">
                    <input type="password" name="password2" class="form-control" placeholder="Please enter password again" >
                    <label class="error">{{form.password2.errors}}</label>
                </div>
                <label class="help">{{form.password1.help_text}}</label>
                <br>
                <button class="button fill" type="submit" value="Submit">Create</button>
                <br>
            </form>
        </div>
        <div class="col-sm-4"></div>
      </div>
    </div>
  </div>
</div>



{% endblock %}  