{% extends 'base_generic.html' %} 
{% block content %}


<div class="down">
    <div class="container-fluid " >
      <div class="row">
        <div class="col-sm-4"></div>
        <div id ="rcorners" class="col-sm-4">
            <br>
            <div class="center">
                <img class="mb-4" src="/static/images/logo.png" alt="" width="auto" height="70">
                <h1>Search</h1>
            </div>
            <form role="search" method='POST' id='searchform'>
                {% csrf_token %}
                <input type="text" name="username" class="form-control" id="id_username" placeholder="User">
                <br>
                <input type="text" name="userprofile__skill" class="form-control" id="id_userprofile__skill" placeholder="Skill">
                <br>
                <input type="text" name="userprofile__job" class="form-control" id="id_userprofile__job" placeholder="Job">
                <br>
                <div>
                    <input type="submit" class="button fill" value="Search">
                </div>
                
            </form>
            
            <div id="result">
                {% for user in userFilter.qs %}
                    <p>{{user.username}}</p>
                    <p>{{user.userprofile.skill}}</p>
                    <p>{{user.userprofile.job}}</p>
                    <hr>
                {% endfor %}
            </div>
            
        </div>
        <div class="col-sm-4"></div>
      </div>
    </div>
  </div>

<!--
<script>
    var r="";
    function out() {
        //r="{% for user in userFilter.qs %}<p>{{user.username}}</p><p>{{user.userprofile.skill}}</p><p>{{user.userprofile.job}}</p>{% endfor %}";
        document.getElementById("output").innerHTML=r;
    }
    function win() {
        
    }
</script>
-->

<!--
<br><br>
<form role="search" method='POST' id='searchform' style="color:white">
    {% csrf_token %}
    user : {{userFilter.form.username}}
    <br>
    skill : {{userFilter.form.userprofile__skill}}
    <br>
    job : {{userFilter.form.userprofile__job}}
    <br>
    <input type="submit" class="btn btn-primary" value="search">
</form>
-->



{% endblock %}