{% extends 'base_generic.html' %}
{% block content %}


<div class="down">
  <div class="container-fluid " >
    <div class="row">
      <div class="col-sm-4"></div>
      <div id ="rcorners" class="col-sm-4">
        <form class="form-signin" method="post">
            <div class="center">
              <h1>Change Password</h1>
            </div>
            <br>
            <div>
              {% csrf_token %}
              <div class="title">Old password</div>
              <div>
                <input type="password" name="old_password" class="form-control" autocomplete="current-password" autofocus placeholder="Old Password" required id="id_old_password">
                <label class="error">{{form.old_password.errors}}</label>
              </div>
              <div class="title">New password</div>
              <div>
                <input type="password" name="new_password1" class="form-control" autocomplete="new-password" placeholder="New Password" required id="id_new_password1">
                <br>
                <div class="title">Enter again</div>
                <input type="password" name="new_password2" class="form-control" autocomplete="new-password" placeholder="New Password confirmation" required id="id_new_password2">
                <label class="error">{{form.new_password1.errors}}</label>
                <label class="error">{{form.new_password2.errors}}</label>
                <br>
                <div>
                  <label class="help">{{form.new_password1.help_text}}</label>
                </div>
              </div>
            </div>
            <div class="center">
              <button type="submit" class="btn btn-lg btn-primary btn-block">儲 存</button>
              <button type="button" class="btn btn-lg btn-primary btn-block" onclick="goBackPage()">取 消</button>
            </div>
        </form>
      </div>
      <div class="col-sm-4"></div>
    </div>
  </div>
</div> 

<!--
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">儲 存</button>
  <button type="button" onclick="goBackPage()">取 消</button>
</form>
-->

{% endblock content %}