{% extends "base_generic.html" %}

{% block content %}

<div class="down">
  <div class="container-fluid " >
    <div class="row">
      <div class="col-sm-4"></div>
      <div id ="rcorners" class="col-sm-4">
        <form class="form-signin" method="POST">
          {% csrf_token %}
            <br>
            <div>
              <div class="center">
                <img class="mb-4" src="/static/images/logo.png" alt="" width="auto" height="70">
              </div>
              <br>
              <br>
              <br>
              <h5>We've emailed you instructions for setting your password.</h5>
              <h5>If they haven't arrived in a few minutes, check your spam folder.</h5>
            </div>
            <br>
            <br>
        </form>
      </div>
      <div class="col-sm-4"></div>
    </div>
  </div>
</div>

  
{% endblock %}
