{% extends "base_generic.html" %}

{% block content %}

<div class="down">
  <div class="container-fluid " >
    <div class="row">
      <div class="col-sm-4"></div>
      <div id ="rcorners" class="col-sm-4">
        <div class="center">
            <img src="/static/images/logo.png" alt="" width="auto" height="40px">
            <div class="topic">Reset Password</div class="topic">
        </div>
        <form class="form-signin" method="POST">
          {% csrf_token %}
            <div>
                <div class="title">Please enter your email to reset password</div>
                <br>
                <div class="form-label-group">
                    <input type="text" name="email" class="form-control" placeholder="Email">
                    <br>
                    <input type="submit" class="button fill"  value="Reset">
                </div>
            </div>
            <div class="error">
                {% if form.email.errors %}
                    {{ form.email.errors }}
                {% endif %}
            </div>
        </form>
      </div>
      <div class="col-sm-4"></div>
    </div>
  </div>
</div>


{% endblock %}