{% extends 'base_generic.html' %}
{% block content %}


<div class="down">
  <div class="container-fluid " >
    <div class="row">
      <div class="col-sm-4"></div>
      <div id ="rcorners" class="col-sm-4">
        <form class="form-signin" method="post">
            <br>
            <div class="text-center mb-4">
              <img class="mb-4" src="/static/images/logo.png" alt="" width="auto" height="70">
            </div>  
              <br>
              <br>
              <br>
              <form>
                {% csrf_token %}
                <input type="password" name="old_password" class="form-control" autocomplete="current-password" autofocus placeholder="Old Password" required id="id_old_password">
                <label class="error">{{form.old_password.errors}}</label>
                <br>
                <input type="password" name="new_password1" class="form-control" autocomplete="new-password" placeholder="New Password" required id="id_new_password1">
                <br>
                <input type="password" name="new_password2" class="form-control" autocomplete="new-password" placeholder="New Password confirmation" required id="id_new_password2">
                <label class="error">{{form.new_password1.errors}}</label>
                <label class="error">{{form.new_password2.errors}}</label>

                <label class="help">{{form.new_password1.help_text}}</label>
              
                <br>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Save changes</button>
              </form>        
            <br>
            <br>
        </form>
      </div>
      <div class="col-sm-4"></div>
    </div>
  </div>
</div> 



{% endblock content %}