#rcorners {
    border-radius: 1em/1em;
    background-color:white;
    margin-bottom: 50px;
    min-height: 500px;
}
.down {
    transform: translateY(50px);
}
.error{
    text-align:center;
    color:red;
}
.help{
    font-size:10px;
}
.textarea_lock{
    resize:none;
}
.p_frame{
    border-style: solid;
    border-color: #000;
    border-width: 2px;
}
.p_info_text{
    font-size: 24px;
}
.head-shot{
    border-style: solid;
    border-color: #e0e0e0;
    border-width: 2px;
}