#rcorners {
    border-radius: 1em/1em;
    background-color:white;
    margin-bottom: 50px;
    min-height: 500px;
}
.down {
    transform: translateY(50px);
}
.error{
    text-align:center;
    color:red;
}
.help{
    font-size:10px;
}